 :root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

html, body #site{
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif; 
  background-color: #dbdbdb;
  color: #fff;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

/* ================== HEADER ================== */
.column-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(208, 151, 107, 0.938);
  backdrop-filter: blur(10px);
  padding: 12px 25px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 999;
}

/* Navigation Bar  */

nav ul {
display: flex;
list-style: none;
gap: 20px;
margin: 0;
padding: 0;

}

/* Navigation Bar Menu Options*/
.column-header .main-nav ul li a {
  position: relative;
  color: #111;
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: 600;
}

.column-header .main-nav ul li a::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width: 0;
  height: 2px;
  background-color: #b5852f;
  transition: width 0.3s ease;
}

.column-header .main-nav ul li a:hover::after{
  width: 100%; /* makes the line animate across */
}

.column-header .main-nav ul li a:hover{
  color: #777777;
}

.logo{
  width: 200px;
  height: 160px;
  margin-top: 1rem;
}


/* FORM TITLE */

.formtitle{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #b8860b;
  box-shadow: 0 -2px 10px rgba(212, 175, 55, 0.3);
  position: relative;
  z-index: 2;
  margin-top: 5rem;
  border-radius: 0.5rem;
}

.pagetitle{
  color: #000000;
  text-align: center;
  padding: 15px 0;
  position: relative;
  z-index: 2;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.center-text{
 
  color: #000000;
  text-align: center;
  position: relative;
  z-index: 2;
 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* mobile friendly alternative to using background-attachment: fixed */

h1 {
  font-weight: 400;
  line-height: 1.2;
}


h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
   
}

button {
  border: none;
}

.container {
  width: 90%; max-width: 1200px; margin: 0 auto;
}

@media (min-width: 576px) {
  #site .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #site .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: white;
}

.text-center {
  text-align: center;
}

.form-description{
  font-size: 1.125rem;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  color: white;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(91, 90, 90);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

/* ------------------------- Footer ------------------------- */
.site-footer {
  margin-top: 4rem;
  background: #2b2b2e;
  color: #fff;
  padding: 18px 0 36px;
  border-top: 4px solid #b5852f;
}
.footer-inner { display: flex; flex-direction: column; align-items: center; justify-content: space-between; font-size: 1rem;}

.footer-right a {
  color: #fff; /* or whatever color */
  font-size: 24px;
  margin-left: 10px;
  transition: transform 0.2s;
}

.footer-right a:hover {
  transform: scale(1.2);
  color: #b5852f; /* hover color */
}